.signup-container {
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    background-color: #f3f3f3;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.signup-container h2 {
    text-align: center;
    color: #333;
}
.signup-form-group {
    margin-bottom: 15px;

}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
input[type="text"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

input[type="email"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.verify-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: #ddd;
    margin-left: 5px;
}
.verify-btn:hover {
    background-color: #ccc;
}
.input-with-button {
    display: flex;
    align-items: center;
}
.verification-message {
    margin-top: 5px;
    font-size: 14px;
}
.success {
    color: #000000;
}
.error {
    color: #ff4573;
}
.button-group {
    display: flex;
    justify-content: space-between;
}
.button {
    flex: 1;
    background-color: #6AA84F;
    color: white;
    margin-right: 10px;
}
.button-cancel {
    background-color: #B45F06;
}
.button:hover {
    background-color: #38761D;
}
.button-cancel:hover {
    background-color: #783F04;
}