<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="styles.css">

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/favicons/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicons/favicon-16x16.png}">


</head>
<body>

    <div class="main-header">
        <div class="logo">
            <a href="/home" class="image-link" style="display:flex; flex-direction: row; align-items: center">
                <img th:src="@{/images/logo.png}" src="/images/logo.png" alt="로고">
                <p style="margin-left: 10px;">EightToTen</p>
            </a>
        </div>
        <div class="navigation">
            <nav>
                <ul>
                    <div class="image-container" data-alt="마이페이지">
                        <a href="/mypage" class="image-link">
                            <img th:src="@{/images/mypage.png}" src="/images/mypage.png" alt="마이페이지">
                        </a>
                    </div>
                    <div class="image-container" data-alt="커뮤니티">
                        <a href="/community" class="image-link">
                            <img th:src="@{/images/community.png}" src="images/community.png" alt="커뮤니티">
                        </a>
                    </div>
                    <div class="image-container" data-alt="홈">
                        <a href="/home" class="image-link">
                            <img th:src="@{/images/home.png}" src="images/home.png" alt="홈">
                        </a>
                    </div>
                </ul>
            </nav>
        </div>
    </div>

    <div class="create-post-container">
        <div class="create-post-header">
            <h2>글쓰기</h2>
            <button class="view-list-btn" onclick="window.location.href='/community'">목록보기</button>
        </div>
        <hr>
        <div class="post-form">
            <div class="post-form-group">
                <label for="post-title">글 제목</label>
                <input type="text" id="post-title" placeholder="글 제목을 입력하세요">
                <span class="error-message" id="title-error"></span>
            </div>

            <div class="post-form-group">
                <label for="post-content">글 내용</label>
                <textarea id="post-content" rows="10" placeholder="내용을 입력하세요"></textarea>
                <span class="post-error-message" id="content-error"></span>
            </div>

            <div class="post-form-group">
                <label for="post-file">첨부 파일</label>
                <input type="file" id="post-file">
            </div>
            <button class="post-submit-btn" onclick="submitPost()">등록</button>
        </div>
    </div>


    <script th:src="@{/js/community/createPost.js}"
        src="/js/community/createPost.js"></script>
</body>


</html>