.main-header {
    width: 100%;
    height: 7vh; /* 헤더 높이 설정 */
    position: relative;
    background-color: #dffcdf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); /* 헤더에 그림자 추가 */
    z-index: 1; /* 헤더를 가장 상위에 위치 */
}


.logo {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation ul li {
    padding: 0 10px;
}

.navigation ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.main-header li {
    display: inline-block;
    margin-right: 10px; /* 각 버튼 간의 간격 */
    position: relative; /* 텍스트 위치 설정을 위해 position 추가 */
}


.image-container {
    position: relative; /* 텍스트 위치 설정을 위해 relative */
    display: flex;
    justify-content: center;
    padding: 10px;
}


.image-container::after {
    content: attr(data-alt); /* data-alt 속성의 값을 텍스트로 사용 */
    display: none; /* 기본적으로 숨김 */
    position: absolute;
    top: 80%; /* 이미지 바로 아래에 텍스트 배치 */
    left: 50%;
    transform: translate(-50%); /* 중앙 정렬 및 아래로 이동 */
    background-color: rgba(0, 0, 0, 0.7); /* 배경색 */
    color: #fff; /* 텍스트 색 */
    padding: 3px 10px; /* 패딩 */
    border-radius: 5px; /* 둥근 모서리 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    z-index: 10; /* 다른 요소 위에 표시 */
    font-size: 13px;
}

.image-container:hover::after {
    display: block; /* 호버 시 텍스트 표시 */
}

.image-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    color: #000000;
    text-decoration: none; /* 링크 밑줄 제거 */
    background: none;
    border: none;
}

.image-link svg {
    /*display: block;*/
    /*width: auto; !* 버튼의 너비 *!*/
    border: none;
    /*height: 50px; !* 이미지 비율 유지 *!*/
    font-size: 48px;
}

.image-link:hover svg {
    border: none;
    color: #868e96;
    box-shadow: none; /* 그림자 효과 */
}

.image-link img {
    display: block;
    width: auto; /* 버튼의 너비 */
    height: 40px; /* 이미지 비율 유지 */
    color: #000000;
}

.image-link:hover img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 마우스를 올렸을 때 그림자 효과 강화 */
}

.header-icon-text {
    color: #868e96;
    font-size: 1vh;
    margin: 0;
    text-align: center !important;
}