#right-sidebar {
    width: 20%;
    background-color: #f5faf5;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}


#right-sidebar button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #679267;
    color: white;
    border: none;
    border-radius: 4px;
}

#right-sidebar button:hover {
    background-color: #8fbc8f;
}

#right-sidebar button:disabled {
    flex: 1;
    background-color: #a2a2a2;
    color: white;
    margin-right: 10px;
}

#add-event-form-container {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

select {
    padding: 5px;
    margin-right: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#toggle-add-schedule-btn {
    font-size: 20px;
}

.close-button {
    font-family: Arial, serif;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 24px; /* 크기 */
    color: #333; /* 색상 */
}

#toggle-add-schedule-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #679267 !important;
    color: white;
    border: none;
    border-radius: 4px;
}

#toggle-add-schedule-btn:hover {
    background-color: #8fbc8f !important;
}

/* 일정 상세보기 */
#event-details-container-fixed {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    border: 8px solid #cad9fa;
    border-radius: 4px;
    margin-top: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.25);
}
.event-details-header-fixed {
    display: flex;
    flex-direction: row;
    color: #76762c;
    justify-content: space-between;
    background-color: #cad9fa;
    /*background-color: #3788d8;*/
}

#event-details-container-variable {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    /*border: 8px solid #e15b27;*/
    border: 8px solid #f5d0cc;
    border-radius: 4px;
    margin-top: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.25);
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.event-details-header-variable {
    display: flex;
    flex-direction: row;
    /*color: #ffffff;*/
    color: rgb(44,46,58, 0.7);
    justify-content: space-between;
    /*background-color: #e15b27   ;*/
    background-color: #f5d0cc   ;
}
.edit-variable {
    /*background-color: #e15b27 !important;*/
    background-color: #f5d0cc !important;
}
.edit-variable:hover {
    /*background-color: #a22300 !important;*/
    background-color: rgb(171,52,19, 0.7) !important;
}

.delete-variable {
    /*background-color: #fb0007 !important;*/
    background-color: rgba(244, 81, 30, 0.5) !important;
}
.delete-variable:hover {
    background-color: #FF4757 !important;
}

#event-details-container-normal {
    background-color: #f4f4f4;
    border: 8px solid #b1d0a9;
    border-radius: 4px;
    margin-top: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.25);
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}
.event-details-header-normal {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    justify-content: space-between;
    background-color: #b1d0a9;
}

.event-details-header-fixed h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.event-details-header-variable h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.event-details-header-normal h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.close-event-details {
    background-color: transparent !important;
    font-family: Arial, serif;
    font-size: 24px;
    width: auto !important;
    color: #ffffff;
}

.event-detail-props {
    padding: 10px;
}
.event-detail-prop {
    margin-bottom: 40px;
}

.event-detail-prop h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.event-detail-prop hr {
    border-top: 2px dotted #a2a2a2;
    margin: 0px;
}

.handle-variable {
    display: flex;
    flex-direction: column;
}

.description-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-header p {
    font-size: 0.9rem;
}

.description-btns {
    display: flex;
    justify-content: space-between;
}

.description-btn.variable {
    cursor: pointer;
    /*color: #e15b27;*/
    color: #f5d0cc;
}

.description-btn.variable:hover {
    cursor: pointer;
    /*color: #FF4757;*/
    color: #FF4757;
    text-decoration: underline;
}

.description-btn.normal {
    cursor: pointer;
    color: #b1d0a9;
}

.description-btn.normal:hover {
    cursor: pointer;
    color: #3e8e41;
    text-decoration: underline;
}

.description-btn.fixed {
    cursor: pointer;
    color: #cad9fa;
}

.description-btn.fixed:hover {
    cursor: pointer;
    color: #1196ba;
    text-decoration: underline;
}

.description-delete-btn {
    margin-left: 10px;
    cursor: pointer;
    /*color: #e15b27;*/
    color: #f5d0cc;
}

.description-delete-btn:hover {
    margin-left: 10px;
    cursor: pointer;
    color: #FF4757;
    text-decoration: underline;
}

.description-edit-btns {
    display: flex;
    margin-top: 10px;
}

.description-edit-btn {
    margin-right: 5px;
}

.description-cancel-btn {
    margin-left:5px;
    /*background-color: #e15b27 !important;*/
    background-color:  rgba(244, 81, 30, 0.5) !important;
}

.description-cancel-btn:hover {
    margin-left:5px;
    /*background-color: #e15b27 !important;*/
    background-color:  #FF4757 !important;
}

.description-textarea {
    margin-top: 10px;
    width: 100%; /* 부모 요소의 너비에 맞게 확장 */
    max-width: 500px; /* 최대 너비 제한 */
    height: auto; /* 자동 높이 조정 */
    padding: 10px; /* 안쪽 여백 */
    font-size: 14px; /* 글자 크기 */
    line-height: 1.5; /* 줄 간격 */
    border: 1px solid #ccc; /* 테두리 색상 */
    border-radius: 8px; /* 둥근 모서리 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 계산 */
    resize: vertical; /* 세로로만 크기 조정 가능 */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* 전환 효과 */
}

.description-textarea.normal:focus {
    border-color: #b1d0a9; /* 포커스 시 테두리 색상 */
    box-shadow: 0 0 5px rgba(56, 142, 60, 0.5); /* 포커스 시 그림자 효과 */
    outline: none; /* 기본 outline 제거 */
}

.description-textarea.fixed:focus {
    border-color: #cad9fa; /* 포커스 시 테두리 색상 */
    box-shadow: 0 0 5px rgb(17,150,186);
    outline: none; /* 기본 outline 제거 */
}

.description-textarea.variable:focus {
    /*border-color: #f4511e; !* 포커스 시 테두리 색상 변경 *!*/
    border-color: #f5d0cc; /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 5px rgba(244, 81, 30, 0.5); /* 포커스 시 그림자 효과 (색상에 맞게 조정) */
    outline: none; /* 기본 outline 제거 */
}

#edit-schedule-title-fixed {
    margin-top: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* 전환 효과 */
}

/* input 요소에 포커스 시 색상 및 효과 적용 */
#edit-schedule-title-fixed:focus {
    border-color: #cad9fa; /* 포커스 시 테두리 색상 */
    box-shadow: 0 0 5px rgb(17,150,186);
    outline: none; /* 기본 outline 제거 */
}

#edit-schedule-title-normal {
    margin-top: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* 전환 효과 */
}

/* input 요소에 포커스 시 색상 및 효과 적용 */
#edit-schedule-title-normal:focus {
    border-color: #b1d0a9; /* 포커스 시 테두리 색상 */
    box-shadow: 0 0 5px rgba(56, 142, 60, 0.5); /* 포커스 시 그림자 효과 */
    outline: none; /* 기본 outline 제거 */
}

#edit-schedule-title-variable {
    margin-top: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* 전환 효과 */
}

/* input 요소에 포커스 시 색상 및 효과 적용 */
#edit-schedule-title-variable:focus {
    /*border-color: #f4511e; !* 포커스 시 테두리 색상 변경 *!*/
    border-color: #f5d0cc; /* 포커스 시 테두리 색상 변경 */
        box-shadow: 0 0 5px rgba(244, 81, 30, 0.5); /* 포커스 시 그림자 효과 */
    outline: none; /* 기본 outline 제거 */
}


.description-textarea::placeholder {
    color: #aaa; /* 플레이스홀더 텍스트 색상 */
    font-style: italic; /* 이탤릭체 */
}


.create-description.normal {
    background-color: #b1d0a9 !important;
}

.create-description.normal:hover {
    background-color: rgba(56, 142, 60, 0.5) !important;
}

.create-description.fixed {
    background-color: #cad9fa !important;
}

.create-description.fixed:hover {
    background-color: rgb(17,150,186) !important;
}

.description-edit-btn.normal {
    background-color: #b1d0a9 !important;
}

.description-edit-btn.normal:hover {
    background-color: rgba(56, 142, 60, 0.5) !important;
}

.description-edit-btn.variable {
    /*background-color: #f4511e !important;*/
    background-color: #f5d0cc !important;
}

.description-edit-btn.variable:hover {
    background-color: #FF4757 !important;
}

.description-edit-btn.fixed {
    background-color: #cad9fa !important;
}

.description-edit-btn.fixed:hover {
    background-color: rgb(17,150,186)  !important;
}


.fixed-item-edit-btn {
    background-color: #cad9fa !important;
}
.fixed-item-edit-btn:hover {
    background-color: rgb(17,150,186) !important;
}

.common-description-edit-message {
    margin-top:10px;
    padding: 2px;
    background-color: #ffffff;
    border: 2px solid #4a90e2;
    border-radius: 4px;
}

.edit-cancel-btn {
    background-color: rgba(244, 81, 30, 0.5) !important;
}

.edit-cancel-btn:hover {
    background-color: #FF4757 !important;
}

.error-message {
    color: hotpink;
    font-size: 0.7rem;
    margin-top: 5px;
}

.fixed-edit-btn {
    background-color: #cad9fa !important;
}


.fixed-edit-btn:hover {
    background-color: rgb(17,150,186) !important;
}

.fixed-edit-btn:disabled {
    background-color: #868e96 !important;
}

.normal-edit-btn {
    background-color: #b1d0a9 !important;
}

.normal-edit-btn:hover {
    background-color: rgba(56, 142, 60, 0.5) !important;
}

.normal-edit-btn:disabled {
    background-color: #868e96 !important;
}

.no-description {
    color: #a2a2a2;
}