<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="styles.css"></head>
<body>
<div class="main-header">
    <div class="logo">
        <a href="/home" class="image-link" style="display:flex; flex-direction: row; align-items: center">
            <img th:src="@{/images/logo.png}" src="/images/logo.png" alt="로고">
            <p style="margin-left: 10px;">EightToTen</p>
        </a>
    </div>
    <div class="navigation">
        <nav>
            <ul>
                <div class="image-container" data-alt="마이페이지">
                    <a href="/mypage" class="image-link">
                        <img th:src="@{/images/mypage.png}" src="/images/mypage.png" alt="마이페이지">
                    </a>
                </div>
                <div class="image-container" data-alt="커뮤니티">
                    <a href="/community" class="image-link">
                        <img th:src="@{/images/community.png}" src="images/community.png" alt="커뮤니티">
                    </a>
                </div>
                <div class="image-container" data-alt="홈">
                    <a href="/home" class="image-link">
                        <img th:src="@{/images/home.png}" src="images/home.png" alt="홈">
                    </a>
                </div>
            </ul>
        </nav>
    </div>
</div>

<div class="change-form-container">
    <div class="change-form-content">
        <h2>비밀번호 변경</h2>
        <div class="change-form-group">
            <label for="new-password">새 비밀번호</label>
            <div class="password-requirements">
                영문, 숫자, 특문이 2종류 이상 조합된 8~20자
            </div>
            <input type="password" id="new-password" name="new-password" placeholder="새 비밀번호">
        </div>
        <div class="change-form-group">
            <label for="confirm-password">새 비밀번호 확인</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="새 비밀번호 확인">
        </div>
        <div class="change-form-group">
            <label for="current-password">현재 비밀번호</label>
            <input type="password" id="current-password" name="current-password" placeholder="현재 비밀번호">
        </div>
        <button class="change-button">비밀번호 변경</button>
    </div>
</div>

</body>
</html>