<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>이메일 변경</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="styles.css">
</head>
<body>
<div class="main-header">
    <div class="logo">로고</div>
    <div class="navigation">
        <nav>
            <ul>
                <div class="image-container" data-alt="마이페이지">
                    <a href="/mypage" class="image-link">
                        <img th:src="@{/images/mypage.png}" src="/images/mypage.png" alt="마이페이지">
                    </a>
                </div>
                <div class="image-container" data-alt="커뮤니티">
                    <a href="/community" class="image-link">
                        <img th:src="@{/images/community.png}" src="images/community.png" alt="커뮤니티">
                    </a>
                </div>
                <div class="image-container" data-alt="홈">
                    <a href="/home" class="image-link">
                        <img th:src="@{/images/home.png}" src="images/home.png" alt="홈">
                    </a>
                </div>
            </ul>
        </nav>
    </div>
</div>

<div class="change-form-container">
    <div class="change-form-content">
        <h2>이메일 변경</h2>
        <div class="change-form-group">
            <label for="email">이메일</label>
            <input type="email" id="email" name="email" placeholder="새로운 이메일">
        </div>
        <div class="change-form-group">
            <label for="password">계정 비밀번호</label>
            <input type="password" id="password" name="password" placeholder="계정 비밀번호">
        </div>
        <div class="note">
            ※ 반드시 본인의 이메일을 입력해주세요.<br>
            ※ 계정 분실 시 아이디/비밀번호 찾기, 개인정보 관련 주요 고지사항 안내 등에 사용됩니다.
        </div>
        <button class="change-button">이메일 변경</button>
    </div>
</div>

</body>
</html>
