/* change-phone 페이지 전용 스타일 */
.phone-input-group {
    display: flex;
    align-items: center;
}

.phone-input-group input {
    flex: 1;
}

.verify-button {
    background-color: #bbb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
}

.verify-button:hover {
    background-color: #aaa;
}
