.delete-schedule-modal {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.modal-description {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}

.modal-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-delete-single,
.btn-delete-all {
    background-color: #e70000;
    color: #fff;
    border: none;
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.btn-delete-single:hover,
.btn-delete-all:hover {
    background-color: #b80000;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.btn-cancel {
    background-color: #ec971f;
    color: #ffffff;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #aaa;
}
