/*0517 마이페이지*/
.mypage-container {
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: flex-start; /* 세로 시작점에 정렬 */
    display: flex;
    flex: 1;
    width: 100%; /* 컨테이너의 너비를 전체로 설정 */
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
    overflow: auto; /* 넘치는 내용 숨기기 */
}

.mypage-content {
    width: 100%;
    height: 100%;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #ffffff;*/
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
}

.mypage-section {
    width: 30%;
    padding: 20px;
    background-color: #ffffff;
    /*background-color: #f5f5f5;*/
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 10px 30px 10px; /* 섹션 간 및 좌우 여백 추가 */
}

.mypage-section h2 {
    margin-top: 0;
}


.mypage-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mypage-section ul li {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mypage-section ul li:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .mypage-content {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .mypage-content {
        width: 100%;
    }
}


.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #ff1a1a;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info strong {
    font-size: 1.2em;
    color: #333;
}

.user-info span {
    color: #777;
}
/* 추가된 부분 끝 */


/*0517 마이페이지*/

.change-form-group {
    width: 100%;
    margin-bottom: 20px;
}

.change-form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.change-form-group input,
.change-form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
}

.change-form-group input {
    font-family: Arial;
}

.change-form-group input:focus,
.change-form-group select:focus {
    outline: none;
    border-color: #4CAF50;
}

.note {
    font-size: 12px;
    color: #777;
}

.change-button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.change-button:hover {
    background-color: #45a049;
}

