<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 완료 - 일정 관리 애플리케이션</title>
    <link rel="stylesheet"
          th:href="@{/css/styles.css}"
          href="styles.css">

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/favicons/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicons/favicon-16x16.png}">


</head>
<body>
<div class="completion-container">
    <h2>회원가입 완료!</h2>
    <p>회원가입이 성공적으로 완료되었습니다. 이제 일정 관리 애플리케이션의 모든 기능을 자유롭게 이용할 수 있습니다.</p>
    <div class="button-group">
        <a href="/" class="button">로그인하기</a>
    </div>
</div>
</body>
</html>
